#mcard16 {
  background-image: url(/img/img-boards/joel-card.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#mcard17 {
  background-image: url(/img/img-boards/ellie.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mcard18 {
  background-image: url(/img/img-boards/tess.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mcard19 {
  background-image: url(/img/img-boards/clicker.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mcard20 {
  background-image: url(/img/img-boards/gordao.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
